<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="page.first.html" type="text/template">
        <a href="?p=1" class="first">最前頁</a>
    </div>
    <div id="page.previous.html" type="text/template">
        <a href="?p={previous}">«</a>
    </div>
    <div id="page.current.html" type="text/template">
        <a href="javascript:;" class="pageNow">{current}</a>
    </div>
    <div id="page.html" type="text/template">
        <a href="?p={page}">{page}</a>
    </div>
    <div id="page.next.html" type="text/template">
        <a href="?p={next}">»</a>
    </div>
    <div id="page.last.html" type="text/template">
        <a href="?p={last}" class="last">最末頁</a>
    </div>
</body>
</html>
